.navbar{
	background-color: #e4eaf5 ;
	color: black;
}
a{
	color: black !important;
}
.navbar-nav li:hover{
	background-color: #93aacf  !important;
}
.navbar-inverse .navbar-nav>.open>a{
	background-color: #93aacf  !important;
}